@use "../../globalStyles/variables" as *;
@use "../../globalStyles/mixins" as *;

.problemAreas {
  margin-top: $spacing-xl;
  animation: fadeIn 0.8s ease-out forwards;

  &__title {
    color: $dark-color;
    font-size: 1.2rem;
    margin-bottom: $spacing-md;
    font-weight: 500;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
  }
}
