@use "../../globalStyles/variables" as *;
@use "../../globalStyles/mixins" as *;

.chartContainer {
  background: white;
  border-radius: $card-border-radius;
  padding: 1.5rem;
  box-shadow: $shadow-sm;
  position: relative;
  width: 95%;
  // min-height: 400px; // Минимальная высота
  height: 90%;

  .chartWrapper {
    position: relative;
    width: 95%;
    height: 100%;
    min-height: 300px;
  }
}

.loading {
  @include flex-center;
  height: 100%;
  font-size: 1.2rem;
  color: $text-secondary;
}

@media (max-width: $breakpoint-md) {
  .chartContainer {
    padding: 1rem;
    min-height: 350px;

    .chartWrapper {
      min-height: 250px;
    }
  }
}
