@use "../../globalStyles/variables" as *;
@use "../../globalStyles/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-lg $spacing-xl;
  background-color: #54D3C2;
  color: white;
  box-shadow: $shadow-md;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.actions {
  display: flex;
  gap: $spacing-md;
}
