@use "./globalStyles/variables" as *;
@use "./globalStyles/mixins" as *;
@use "./globalStyles/animations" as *;

.app {
  display: flex;
  min-height: 100vh;
  background-color: #f5f7fa;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px; // Ширина сайдбара
  padding: $spacing-xl;
  overflow-x: hidden;

  @media (max-width: $breakpoint-md) {
    margin-left: 0;
    padding: $spacing-md;
  }
}
